
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// .icons {
//   background: rgba(255, 255, 255, 0.04);
//   border-radius: 0.25em;
//   font-size: 20px !important;
// }

textarea {
  resize : none;
}

.facebook-icon {
  color : #3b5998;
}

.instagram-icon {
  color : #517fa4;
}

.twitter-icon {
  color: #55acee;
}

.youtube-icon {
  color : #b31217;
}

.card-icon {
  position: absolute;
  top : 15px;
  right : 15px;
  transform: rotate(15deg) scale(4);
}

.o-hidden {
  overflow: hidden;
}

.vh-100 {
  height: 100vh !important;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600 !important;
    text-transform: uppercase;
    color : white;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9), 0px 0px 20px black, 0px 0px 25px black;
    opacity: 0;
    animation-delay: 10s;
    animation: cover 750ms forwards;
    span {
      color : #FC5130;
      font-weight: 300 !important;
    }
  }
  h4 {
    font-family: sans-serif;
    color : #3e3e3e;
    font-weight : lighter;
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 11px white, 0px 0px 15px white;
  }
  h1, p, h2, h3, h4, h5 {
    position: relative;
    z-index: 2;
  }
  img {
    position: absolute;
    top : 0;
    left : 0;
    z-index: 0;
  }
  .slide {
    position: absolute;
    bottom : 5%;
    left : 50%;
    transform: translateX(-50%);
    animation: slide 750ms infinite;
    color : white;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9), 0px 0px 20px black, 0px 0px 25px black;
    cursor: pointer;
  }
}

@keyframes slide {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-cover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes cover {
  0% {
    opacity: 0.2;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.columns-2 {
  column-count: 2 !important;
}

.navbar-nav {
  .nav-item {
    padding: 0.5rem;
  }
  .active {
    background: #eee;
    // a {
    //   color : rgb(85, 85, 85) !important;
    // }
  }
  // }
}